/* always load custom fonts and other depdendencies
(like other stylesheets or CSS vars) first */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* Universal selector to reset some defaults */
* {
  margin: 0;
  padding: 0;
}

/* this is how we get a full size H&W image background */
html {
  background: url('../img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* apply the default font styles to the body so
all other elements within can inherit them */
body {
  font-family: 'Kaushan Script', cursive;
}

/* NAVIGATION STYLES */

header {
  width: 80%;
  padding: 0 10%;
  height: 50px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: gray;
  z-index: 100;
  /* flexbox container properties */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url('../img/cork-board.webp');
}

header h1 {
  color: #333;
}

nav ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  background-color: rgba(40, 40, 40, 0.4);
}

nav li {
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  width: 120px;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  /* always define the transition property on the starting state of the element */
  transition: all 1s;
}

nav a:hover {
  background-color: rgba(40, 40, 40, 0.7);
  color: red;
}

nav a.active {
  background-color: black;
  color: yellow;
}

/* GALLERY GRID STYLES */

.container {
  width: 900px;
  margin: 0 auto;
  margin-top: 100px;
  /* since the poloaroid divs are going to display inline block
  we need to zero out the font size her on the parent element to avoid
  some extra half pixel spacing that accumulates */
  font-size: 0;
}

.polaroid {
  width: 260px;
  margin: 20px;
  display: inline-block;
  /* this is the parent element we want to absolute position elements within */
  position: relative;
}

/* this looks for the pattern of img tags within a parent with a class of polaroid */
.polaroid img {
  /* with images we usually make them take up 100%
  width of a parent element which we size */
  width: 100%;
  /* height auto keeps the pixel aspect ratio as the image with scales to fit parent */
  height: auto;
  border: 10px solid #ccc;
  border-bottom-width: 45px;
}

.polaroid p {
  position: absolute;
  bottom: 5px;
  width: 280px;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
}

/* TRANFORMS AND TRANSITIONS */

/* one number = uniform scale */
.scale_up {
  transform: scale(1.2);
  z-index: 10;
}

/* 2 numbers = x, y */
.scale_x {
  transform: scale(2, 1);
}

/* use the scale axis you want */
.scale_y {
  transform: scaleY(2);
}

.skew_x {
  transform: skewX(-20deg);
}

.skew_y {
  transform: skewY(-20deg);
}

.skew_both {
  transform: skew(10deg, 30deg);
}

.rot_x {
  transform: rotateX(120deg);
}

.rot_y {
  transform: rotateY(120deg);
}

.rot_z {
  transform: rotateZ(120deg);
}

.rotate_left {
  transform: rotate(-20deg);
  transition: all 5s ease-in-out;
}

.rotate_left:hover {
  transform: rotate(20deg);
  cursor: pointer;
}

.skew_hover {
  transform: skewX(30deg);
  transition: all 1s ease;
}

.skew_hover:hover {
  transform: skewX(-30deg);
}

.color_swap {
  filter: grayscale(100%) blur(5px);
  transition: all 5s ease-out;
}

.color_swap:hover {
  filter: grayscale(0%);
}
